<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="PartnerProcess" verbose="0">
    <test thread-count="5" name="PartnerProcessTest" verbose="0" skipfailedinvocationcounts="true">
        <classes>
            <class name="com.web.test.BaseTest"/>
            <class name="com.web.test.tests.RegisterTest"/>
            <class name="com.web.test.tests.LoginTest"/>
            <class name="com.web.test.tests.QuestionnaireFirstTest"/>
<!--            <class name="com.web.test.tests.QuestionnaireSecondTest"/>-->
<!--            <class name="com.web.test.tests.QuestionnaireThirdTest"/>-->
<!--            <class name="com.web.test.VerifyPartnerTest"/>-->
<!--            <class name="com.web.test.tests.AcceptCommissionTest"/>-->
        </classes>
    </test>
</suite>